/*
 * Table of content: UIkit framework overrides
 * --------------------------------------------
 * 01. Base
 * 02. Elements
 * 03. Layout
 * 04. Navs
 * 05. Common
 * 06. JS components
 * 07. Utilities
 */

// 01. Base
@import 'base.scss';
@import 'grid.scss';

// 02. Elements
@import "link.scss";
@import "heading.scss";
@import "list.scss";
@import "form.scss";
@import "button.scss";
@import "color.scss";
@import "text.scss";

// 03. Layout
@import "section.scss";
@import "container.scss";
@import "card.scss";

// 04. Navs
@import "nav.scss";
@import "navbar.scss";
@import "subnav.scss";
@import "breadcrumb.scss";
@import "pagination.scss";

// 05. Common
@import "alert.scss";
@import "label.scss";
@import "search.scss";

// 06. JS Components
@import "accordion.scss";
@import "modal.scss";
@import "slider.scss";
@import "offcanvas.scss";
@import "tab.scss";
@import "dropdown.scss";

// 07. Utilities
@import "width.scss";
@import "height.scss";
@import "background.scss";
@import "flex.scss";
@import "spacing.scss";