// Dropdown
.uk-dropdown {
    min-width: 224px;
    padding: 12px;
    border-radius: var(--radius);
    border: 1px solid;
    @include dark-props((
        background-color: (white, var(--color-gray-90)),
        border-color: (transparent, rgb(255 255 255 / 8%)),
    ));
    box-shadow: 0px 8px 32px -8px rgb(0 0 0 / 25%);
    &-nav {
        > li {
            font-size: .875rem;
            position: relative;
            padding: 8px 12px;
            border-radius: calc(var(--radius) / 2);
            line-height: 1;
            > a {
                color: inherit;
            }
            &:hover,
            &.uk-active {
                @include dark-props((
                    background-color: (rgb(0 0 0 / 5%), rgb(255 255 255 / 5%)),
                    color: (black, white),
                ));
                > a {
                    color: inherit;
                }
            }
            &.uk-nav-divider {
                padding: 0 !important;
                margin: 8px 0;
                margin-left: -12px;
                margin-right: -12px;
            }
        }
    }
    &-minimal {
        min-width: 144px;
        padding: 8px;
        .uk-dropdown-nav > li {
            padding: 4px 8px;
            &.uk-nav-divider {
                margin-left: -8px;
                margin-right: -8px;
            }
        }
    }
}

// Forms
.uk-form-blank:focus,
.uk-form-blank:focus-visible {
    @include dark-prop('border-color', rgb( 0 0 0 / 8% ), rgb( 255 255 255 / 8% ));
    @include dark-prop('color', black, white);
    border-style: dashed;
    outline: 0;
}
input[type="range"] {
    --slider-thumb-color: var(--color-primary);
    @include dark-prop('--slider-thumb-border', white, var(--color-gray-100));
    @include dark-prop('--range-track', rgb( 0 0 0 / 8% ), rgb( 255 255 255 / 8% ));
    outline: 0;
    border: 0;
    border-radius: var(--radius);
    transition: box-shadow 0.2s ease-in-out;

    // Chrome
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        & {
            -webkit-appearance: none;
            height: 4px;
        }
        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            height: 4px;
            color: #444;
            background-color: var(--range-track);
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            top: 1px;
            width: 16px;
            height: 16px;
            background: var(--slider-thumb-color);
            border-radius: 50%;
            box-shadow: 0 0 0 2px var(--slider-thumb-border);
            position: relative;
            border: 0;
            transition: transform 200ms ease-in-out;
        }
        &:active::-webkit-slider-thumb {
            background: var(--slider-thumb-color);
            transform: scale(1.2);
        }
    }
    // Firefox
    &::-moz-range-progress {
        background-color: #43e5f7;
    }
    &::-moz-range-track {
        background-color: #9a905d;
    }
    // IE
    &::-ms-fill-lower {
        background-color: #43e5f7;
    }
    &::-ms-fill-upper {
        background-color: #9a905d;
    }
}
.uk-form-custom input[type=file],
.uk-form-custom select {
    padding: 0 20px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
option {
    padding: 0 11px;
    background-color: #ffffff;
    color: #000;
}
.uk-dark option {
    background-color: #131313;
    color: #fff;
}
